Normalization

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
df=pd.read_csv('text_analysis.csv')

In [3]:
df.head()

,Title,House,Decade,Year,Category,Movie_len,Avg_WordLen_Movie,Avg_PhrLen_Movie,Avg_WordLen_Phrase,Num_Adjectives,Num_Adverbs,Short_Phrases%
0,Chicken Run,Aardman,2000,2000,Animation,1025,3.90,4.30,5.11,237,344,0.487805
1,Flushed Away,Aardman,2000,2006,Animation,2413,3.86,6.35,4.37,890,1408,0.124327
2,Wallace And Gromit In The Curse Of The Were-Ra...,Aardman,2000,2005,Animation,465,4.39,4.80,5.42,176,163,1.075269
3,A Shaun the Sheep Movie Farmageddon,Aardman,2010,2019,Animation,228,3.25,1.02,6.49,0,1,1.754386
4,Arthur Christmas,Aardman,2010,2011,Animation,1877,3.91,4.06,5.40,401,558,2.717102

In [4]:
df.drop('Short_Phrases%', axis=1, inplace=True)

In [6]:
df.head()

,Title,House,Decade,Year,Category,Movie_len,Avg_WordLen_Movie,Avg_PhrLen_Movie,Avg_WordLen_Phrase,Num_Adjectives,Num_Adverbs
0,Chicken Run,Aardman,2000,2000,Animation,1025,3.90,4.30,5.11,237,344
1,Flushed Away,Aardman,2000,2006,Animation,2413,3.86,6.35,4.37,890,1408
2,Wallace And Gromit In The Curse Of The Were-Ra...,Aardman,2000,2005,Animation,465,4.39,4.80,5.42,176,163
3,A Shaun the Sheep Movie Farmageddon,Aardman,2010,2019,Animation,228,3.25,1.02,6.49,0,1
4,Arthur Christmas,Aardman,2010,2011,Animation,1877,3.91,4.06,5.40,401,558

In [7]:
scaler=MinMaxScaler()

In [11]:
indexes=[c for c in df.columns if c not in ['Title', 'House', 'Category', 'Decade', 'Year']]

In [12]:
df[indexes] = scaler.fit_transform(df[indexes])

In [14]:
df.head()

,Title,House,Decade,Year,Category,Movie_len,Avg_WordLen_Movie,Avg_PhrLen_Movie,Avg_WordLen_Phrase,Num_Adjectives,Num_Adverbs
0,Chicken Run,Aardman,2000,2000,Animation,0.205044,0.135699,0.346723,0.200000,0.236763,0.244318
1,Flushed Away,Aardman,2000,2006,Animation,0.509430,0.127349,0.563425,0.090370,0.889111,1.000000
2,Wallace And Gromit In The Curse Of The Were-Ra...,Aardman,2000,2005,Animation,0.082237,0.237996,0.399577,0.245926,0.175824,0.115767
3,A Shaun the Sheep Movie Farmageddon,Aardman,2010,2019,Animation,0.030263,0.000000,0.000000,0.404444,0.000000,0.000710
4,Arthur Christmas,Aardman,2010,2011,Animation,0.391886,0.137787,0.321353,0.242963,0.400599,0.396307

In [15]:
df.to_csv('normalized_texts.csv', index=False)